---
Language: Cpp

BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100

IncludeBlocks: Regroup

AlignConsecutiveMacros: true

BreakBeforeBraces: Linux
PointerAlignment: Right
SpaceAfterCStyleCast: true
IndentCaseLabels: true

SpacesBeforeTrailingComments: 2

